/* Write your CSS here */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .content-container {
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  color: #a35200;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

.sub-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  color: #334155;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .sub-heading {
    font-size: 20px;
  }
}

.image {
  height: 140px;
  width: 140px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .image {
    height: 180px;
    width: 180px;
    margin-bottom: 40px;
  }
}

.toss-btn {
  background-color: #f9d423;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #a35200;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 40px;
  border: none;
}

@media screen and (min-width: 768px) {
  .toss-btn {
    font-size: 14px;
  }
}

.results-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.total-btn {
  border: none;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #475569;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .total-btn {
    font-size: 18px;
  }
}
